body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.top-container {
  background-color: #1f2937;
}

/* Navigation Bar Styling */
.navbar {
  padding: 0.8rem 12rem;
  display: flex;
  justify-content: space-between;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.logo {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.navbar-links a {
  color: #e5e7eb;
  font-size: 0.9rem;
  text-decoration: none;
}

/* Hero Styling */
.hero {
  padding: 3rem 12rem 6rem 12rem;
  display: flex;
  gap: 5rem;
}

.hero-img {
  width: 50rem;
  height: 13rem;
  object-fit: cover;
  border-radius: 5px;
}

.hero-headline {
  color: #f9faf8;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-subtext {
  color: #e5e7eb;
  font-size: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

button {
  background-color: #3882f6;
  border-radius: 7px;
  border: none;
  padding: 7px 20px;
  color: #e5e7eb;
  font-weight: bold;
}

/* Benefits Section */
.benefits-section {
  padding: 0.8rem 12rem;
  text-align: center;
}

.benefit-headline {
  color: #1f2937;
  font-weight: bold;
  font-size: 2rem;
}

.benefits-container {
  display: flex;
  gap: 1.5rem;
  margin: 2rem 7rem 5rem 7rem;
}

.benefit {
  width: 25%;
}

.benefit-img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 10px;
}

/* Quote Section */
.quote-section {
  background-color: #e5e7eb;
  padding: 5rem 20rem;
}

.quote {
  font-weight: 200;
  font-style: italic;
  font-size: 2rem;
  margin-bottom: 0.25rem;
  text-align: justify;
}

.quote-author {
  text-align: right;
  font-weight: bold;
  margin-top: 0;
}

/* Call To Action Section */
.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

.cta-box {
  background-color: #3882f6;
  padding: 2rem 7rem;
  border-radius: 7px;
  display: flex;
  gap: 5rem;
}

.cta-headline,
.cta-text {
  margin: 0;
}

.cta-headline {
  color: white;
}

.cta-text {
  color: #e5e7eb;
}

.cta-box button {
  border: 1px solid white;
}
