body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.top-container {
  background-color: #1f2937;
}

/* Navigation Bar Styling */
.navbar {
  padding: 0.8rem 12rem;
  display: flex;
  justify-content: space-between;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.logo {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.navbar-links a {
  color: #e5e7eb;
  font-size: 0.9rem;
  text-decoration: none;
}
